@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&display=swap&subset=arabic,latin-ext');

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f2f3f3;
    margin: 0;
    padding: 0;
}

.fix{
    clear: both;
    margin: 0; 
}

main{
    width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
    background: #fff;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/* -------- Start header -------- */

header{
    display: flex;
    height: 90px;
    background: white;
    width: 1140px;
    box-sizing: border-box;
    z-index: 10;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.295);
}

header input{
    width: 45%;
    background: none;
    border: none;
    font-size: 18px;
    padding: 35px;
    font-family: 'Roboto', sans-serif;
    border-left: 1px solid rgba(177, 177, 177, 0.685);
}

header ul{
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0; 
}

header ul li{
    width: 69px;
    height: 100%;
    border-left: 1px solid rgba(177, 177, 177, 0.685);
    float: left;
    position: relative;
}

header ul li a{
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    color: #6d6e71;
    text-align: center;
}

header button{
    font-size: 28px;
    height: 100%;
    width: 100%;
    margin: 0;
    color: #6d6e71;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
}

header ul li button.menu{
    background: #ffc200;
    color: #FFF;
}

header ul li a::before, header ul li a::after{
    clear: both;
}


header ul li a:hover, header button:hover{
    background: #f2f3f3;
}

header ul li a.menu:hover{
    background: #ffc200;
    color: #FFF;
}

header ul li:nth-child(1) a{
    font-size: 16px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    margin-top: 0;
}

/* -------- Start Nav Menu --------- */

.nav-menu{
    width: 1140px;
    background: #f2f3f3;
    top: 90px;
    position: absolute;
    right: -1px;
    min-height: 550px;
    z-index: 2;
    padding: 30px 120px 0;
    box-sizing: border-box;
    visibility: hidden;
    transform: translateY(-15px);
    transition: 0.5s ease;
}

.nav-menu div{
    float: left;
    width: 44%;
    margin-left: 50px; 
}

.nav-menu p{
    color: #6d6e71;
    font-size: 18px;
}

.nav-menu a{
    width: fit-content;
    height: fit-content;
    display: block;
    color: black;
    margin-bottom: 30px;
}

.nav-menu p{
    margin-top: 0;
}

.nav-menu h1{
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 0px;
}

.nav-menu a:hover{
    color:#6d6e71;
}

/* -------- End Nav Menu --------- */

/* -------- End header -------- */

/* -------- Start Slider -------- */

.slider{
    width: 100%;
    padding: 0;
    height: 570px;
    margin: 0 auto 5px;
    position: relative;
}

.myslides{
    visibility: hidden;
    transition: 0.5s;
    position: absolute;
    top: 0%;
}

.slider img{
    width: 100%;
}

.details{
    position: absolute;
    bottom: 2px;
    left: 10%;
    width: 30%;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
}

.details .date, .details .info{
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    margin: 0;
    border-bottom: 2px solid #ffc200;
}

.details .date{
    background: #231f20;
}

.details .date .from{
    float: left;
    margin-right: 25px;
    width: 44%;
}

.details .date .to{
    float: left;
    width: 44%;
}

.details .info{
    height: 160px;
    background-image: linear-gradient(#231f20, #231f20, #231f20e5) 
}

.details .date .to p:nth-child(1), .details .date .from p:nth-child(1), .details .info p:nth-child(1){
    font-size: 10px;
    margin: 0;
}

.details .date .to p:nth-child(2), .details .date .from p:nth-child(2){
    font-size: 22px;
    margin: 10px 0 5px;
}

.details .info p:nth-child(2){
    font-size: 26px;
    margin: 10px 0 5px;
}

.buy{
    width: 100%;
    height: 60px;
    background: #231f20;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    color: #ffc200;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
}

.buy i{
    display: inline-block;
    margin-left: 10px;
    font-size: 24px;
}

.buy:hover{
    color: #231f20;
    background: #ffc200;
}

/* -------- End Slider -------- */

/* -------- Start Today's Plans --------- */

.plans{
    width: 100%; 
    margin: 50px auto;
    text-align: center;
}

.plans h1, p{
    width: fit-content;
    margin: 15px auto;
    letter-spacing: 1.2px;
    font-weight: normal;
}

.plans a{
    text-decoration: none;
    color: black;
    height: fit-content;
    width: fit-content;
}

.plans img{
    margin: 25px 0;
}   

.book{
    width: 18%;
    margin: 3% 1.5%;
    display: inline-block;
    position: relative;
}

.book .head{
    height: 50px;
    background: #f2f3f3;
    font-size: 20px;
    letter-spacing: 1.1px;
    margin: 0;
    padding: 10px 5px 10px 10px;
}

.book img{
    width: 100%;
    margin: 0;
    margin-bottom: -5px;
    border-bottom: 5px solid #ffc200;
}

.book .buy{
    font-weight: normal
}

.book span{
    background: #ffc200;
    color: black;
    height: 144px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 70px;
    z-index: 5;
    opacity: 0;
    transition: 0.3s ease;
    font-size: 20px;
    box-sizing: border-box;
    padding: 20px;
}

.book:hover span{
    opacity: 1;
}

.plans .show-me, .show-me{
    font-size: 16px;
    color: #6d6e71;
    width: fit-content;
    margin: 15px 0;
}

.show-me:hover{
    text-decoration: underline; 
}


/* -------- Start Today's Plans --------- */


/* -------- Start Events --------- */

.events{
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.events div{
    margin-bottom: 50px;
}

.events .left-events{
    width: 65%;
    background: #e7e7e8;
    float: left;
    box-sizing: border-box;
    padding: 5px 5px 30px;
    margin: 0;
}

.events .book{
    width: 138px;
    margin: 15px;
}

.events .book .head{
    background: #d3d3d3;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.7px;
    padding: 7px 5px;
    box-sizing: border-box;
    overflow: hidden;
    color: black;
    text-align: left;
}

.events .book span{
    top:0;
    height: 100px;
    font-size: 14px;    
    padding: 10px;
    text-align: left;
}

.events .right-events{
    width: 35%;
    float: left;
    background: #f2f3f3;
    box-sizing: border-box;
    padding: 5px 5px 30px;
    margin: 0;
}

/* -------- End Events --------- */

/* -------- Start Footer --------- */

footer{
    border-top: 5px solid #fff;
}

footer div:nth-child(1){
    padding: 40px 70px;
    background: #e7e7e8
}

footer div:nth-child(1) img{
    float: left;
}

footer div:nth-child(1) ul{
    list-style: none;
    float: left;
    margin: 0 15px;
}

footer ul li{
    margin: 5px 0;
}

footer ul li a{
    color: #b1b2b4;
    font-size: 14px;
}

footer ul li a:hover{
    color: black;
}

footer div:nth-child(1) div {
    float: left;
    margin: 5px 15px;
}

footer div:nth-child(1) div p{
    font-size: 14px;
    color: #b1b2b4;
    margin: 2px 0; 
}

footer div:nth-child(2){
    background: #231f20;
}

footer div:nth-child(2) p{
    float: left;
    color: #6d6e72;
    margin: 15px 50px;
}

footer div:nth-child(2) button{
    float: right;
    width: 25%;
}

footer div:nth-child(2) .a{
    float: right;
    width: 60px;
    height: 60px;
    border-right: 1px solid #6d6e728f;
    border-left: 1px solid #6d6e7291;
    display: flex;
    align-items: center;
    justify-content: center;    
    color: #6d6e72;
}

footer div:nth-child(2) p a{
    color: #6d6e72;
}

/* -------- End Footer --------- */

/* -------- Start Tickets ------- */

.tickets{
    width: 1100px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.tickets .head{
    background: #f2f3f3;
    padding: 0 30px;
}

.tickets .head h1{
    float: left;
}

.tickets .head a{
    float: right;
    font-size: 24px;
    color: #ffc200;
    margin-top: 25px;
}

.tickets .info{
    border-bottom: 1px solid #b1b2b4;
    height: 200px;
    margin-top: 30px; 
}

.tickets .info .left-img{
    float: left;
    width: 25%;
    position: relative;
}

.tickets .info .left-img img{
    width: 100%;
}

.tickets .info .left-img div{
    background: black;
    width: 100%;
    padding: 10px 15px;
    font-size: 20px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    color: white;
}

.tickets .info .center{
    width: 50%;
    float: left;
    height: 200px;
    margin-left: 20px;
    padding: 0;
}

.tickets .info .center p{
    font-size: 10px;
    letter-spacing: 1px;
    color: #6d6e71;
    text-align: left;
    width: 100%;
    margin: 0;
}

.tickets .info .center h2{
    font-weight: normal;
    font-size: 16px;
    width: 100%;
    margin: 10px 0;
}

.tickets .info .center .b{
    font-weight: bold;
}

.tickets .info .center .center-left, .tickets .info .center .center-right{
    float: left;
    width: 40%;
    text-align: left;
    margin-right: 50px;
}

.tickets .info .center .center-right{
    margin-right: 0;
}

.tickets .info .center .center-left div, .tickets .info .center .center-right div{
    text-align: left;
    margin: 50px 0;
}

.tickets .info .center .center-left div:nth-child(1), .tickets .info .center .center-right div:nth-child(1){
    margin: 10px 0;
}

.tickets .info .button{
    width: 25%;
    font-weight: normal;
    float: right;
    margin-top: -60px;
}

/* -------- Start Tickets ------- */